* {
  box-sizing: border-box;
}

.column {
    float: left; 
    width: 25%;
    padding: 15px;
}

/* Clearfix (clear floats) */
/* .row::after {
  content: "";
  clear: both;
  display: table;
} */


h1{
  text-align: center;
}

  